In [1]:
import pandas as pd
import sqlalchemy
import mysql.connector

#Pour que python reconnaisse un dossier comme un module il faut ajouter en son sein un fichier __init__.py 
#et également l'ajouter au PATH

import sys  

sys.path.insert(0, "/home/apprenant/Desktop/AmericanDream/")


#On peut ensuite importer le dossier comme un module

from src.d00_utils.mysql_utils import mysql_connect, save_to_mysql
connect = mysql_connect()

Importation des données depuis my sql

##1. Sélection des colonnes
J'affiche un échantillon de mes données pour analyser la pertinence des différentes colonnes

In [2]:
data = pd.read_sql("Analyst",con=connect)
data2 = pd.read_sql("Salary",con=connect)

In [4]:
print(data2.head())
print(data2.columns)

   index  Survey Year           Timestamp  SalaryUSD        Country  \
0      0         2020 2020-01-04 18:50:34   115000.0  United States
1      1         2020 2020-01-04 10:43:02   100000.0  United States
2      2         2020 2020-01-04 09:51:46   100000.0          Spain
3      3         2020 2020-01-04 01:08:54    70000.0  United States
4      4         2020 2020-01-03 15:28:54   110000.0  United States

  PostalCode       PrimaryDatabase  YearsWithThisDatabase  \
0         03  Microsoft SQL Server                     15
1       None                 Other                      6
2      28046  Microsoft SQL Server                      2
3      94133  Microsoft SQL Server                      3
4      95354                Oracle                     30

                                      OtherDatabases    EmploymentStatus  ...  \
0  Microsoft SQL Server, MongoDB, Azure SQL DB (a...  Full time employee  ...
1                                      MySQL/MariaDB  Full time employee  ...
2                                      MySQL/MariaDB  Full time employee  ...
3                                   Microsoft Access  Full time employee  ...
4  Microsoft SQL Server, Oracle, MySQL/MariaDB, P...  Full time employee  ...

  NewestVersionInProduction OldestVersionInProduction  \
0           SQL Server 2019           SQL Server 2016
1                  informix                  informix
2           SQL Server 2017           SQL Server 2017
3           SQL Server 2016           SQL Server 2012
4           SQL Server 2016         SQL Server 2008R2

   PopulationOfLargestCityWithin20Miles  EmploymentSector  \
0                  20K-99K (large town)  Private business
1                      1M+ (metropolis)  Private business
2                      1M+ (metropolis)  Private business
3                      1M+ (metropolis)  Private business
4                      100K-299K (city)        Non-profit

  LookingForAnotherJob                     CareerPlansThisYear  Gender  \
0            Not Asked  Stay with the same employer, same role    Male
1            Not Asked                       Prefer not to say    Male
2            Not Asked  Stay with the same employer, same role    Male
3            Not Asked         Change both employers and roles    Male
4            Not Asked  Stay with the same employer, same role    Male

  OtherJobDuties KindsOfTasksPerformed Counter
0      Not Asked             Not Asked       1
1      Not Asked             Not Asked       1
2      Not Asked             Not Asked       1
3      Not Asked             Not Asked       1
4      Not Asked             Not Asked       1

[5 rows x 32 columns]
Index(['index', 'Survey Year', 'Timestamp', 'SalaryUSD', 'Country',
       'PostalCode', 'PrimaryDatabase', 'YearsWithThisDatabase',
       'OtherDatabases', 'EmploymentStatus', 'JobTitle', 'ManageStaff',
       'YearsWithThisTypeOfJob', 'HowManyCompanies', 'OtherPeopleOnYourTeam',
       'CompanyEmployeesOverall', 'DatabaseServers', 'Education',
       'EducationIsComputerRelated', 'Certifications', 'HoursWorkedPerWeek',
       'TelecommuteDaysPerWeek', 'NewestVersionInProduction',
       'OldestVersionInProduction', 'PopulationOfLargestCityWithin20Miles',
       'EmploymentSector', 'LookingForAnotherJob', 'CareerPlansThisYear',
       'Gender', 'OtherJobDuties', 'KindsOfTasksPerformed', 'Counter'],
      dtype='object')

In [5]:
data2 = data2[['index','SalaryUSD','Country','PostalCode','EmploymentStatus','JobTitle','ManageStaff','YearsWithThisTypeOfJob',
          'HowManyCompanies','OtherPeopleOnYourTeam', 'CompanyEmployeesOverall',
          'PopulationOfLargestCityWithin20Miles','EmploymentSector', 'LookingForAnotherJob', 'CareerPlansThisYear',
          'Gender', 'OtherJobDuties']]

##2. Valeurs manquantes
Recherche des valeurs manquantes

In [6]:
print(data2.isnull().sum()) 
print(data2.shape)

index                                      0
SalaryUSD                                  0
Country                                    0
PostalCode                              1390
EmploymentStatus                           0
JobTitle                                   0
ManageStaff                                0
YearsWithThisTypeOfJob                     0
HowManyCompanies                           0
OtherPeopleOnYourTeam                      0
CompanyEmployeesOverall                    0
PopulationOfLargestCityWithin20Miles       0
EmploymentSector                           0
LookingForAnotherJob                       0
CareerPlansThisYear                        0
Gender                                     0
OtherJobDuties                           620
dtype: int64
(8627, 17)


Il me manque 1390 valeurs pour PostalCode et 620 pour OtherJobDUties sur un total de 8627 lignes. Ces deux colonnes ne sont pas au centre de mon études donc ça se vaut pas le cout de supprimer toute la ligne pour elles

traitement de Postal code
Cela ne ferait pas de sens de remplacer le code postal par un code postal arbitraire

Traitement de OtherJobDuties

In [9]:
data2 = data2[data2.Country == 'United States']

In [10]:
data2 = data2[data2.Gender.isin(["Male","Female"])]

In [4]:
print(data2)

      index  Survey Year           Timestamp  SalaryUSD        Country  \
0         0         2020 2020-01-04 18:50:34   115000.0  United States
1         1         2020 2020-01-04 10:43:02   100000.0  United States
2         2         2020 2020-01-04 09:51:46   100000.0          Spain
3         3         2020 2020-01-04 01:08:54    70000.0  United States
4         4         2020 2020-01-03 15:28:54   110000.0  United States
...     ...          ...                 ...        ...            ...
5724   5724         2018 2017-12-11 08:52:52   156000.0  United States
5725   5725         2018 2017-12-11 08:00:55    49000.0  United States
5726   5726         2018 2017-12-11 02:28:07    60000.0          Spain
5727   5727         2018 2017-12-10 22:03:56    95000.0      Australia
5728   5728         2018 2017-12-10 12:44:06   115000.0  United States

     PostalCode       PrimaryDatabase  YearsWithThisDatabase  \
0            03  Microsoft SQL Server                     15
1          None                 Other                      6
2         28046  Microsoft SQL Server                      2
3         94133  Microsoft SQL Server                      3
4         95354                Oracle                     30
...         ...                   ...                    ...
5724       1463  Microsoft SQL Server                     20
5725      75904  Microsoft SQL Server                      5
5726      28080  Microsoft SQL Server                     10
5727       7000  Microsoft SQL Server                     10
5728      84095  Microsoft SQL Server                     15

                                         OtherDatabases  \
0     Microsoft SQL Server, MongoDB, Azure SQL DB (a...
1                                         MySQL/MariaDB
2                                         MySQL/MariaDB
3                                      Microsoft Access
4     Microsoft SQL Server, Oracle, MySQL/MariaDB, P...
...                                                 ...
5724             Microsoft Access, Azure SQL DB, Hadoop
5725      MySQL/MariaDB, MongoDB, DB2, Microsoft Access
5726  Microsoft SQL Server, Oracle, MySQL/MariaDB, P...
5727  Microsoft SQL Server, Microsoft Access, Azure ...
5728                       MySQL/MariaDB, Elasticsearch

                                       EmploymentStatus  ...  \
0                                    Full time employee  ...
1                                    Full time employee  ...
2                                    Full time employee  ...
3                                    Full time employee  ...
4                                    Full time employee  ...
...                                                 ...  ...
5724                                 Full time employee  ...
5725                                 Full time employee  ...
5726  Full time employee of a consulting/contracting...  ...
5727  Full time employee of a consulting/contracting...  ...
5728                                 Full time employee  ...

     NewestVersionInProduction OldestVersionInProduction  \
0              SQL Server 2019           SQL Server 2016
1                     informix                  informix
2              SQL Server 2017           SQL Server 2017
3              SQL Server 2016           SQL Server 2012
4              SQL Server 2016         SQL Server 2008R2
...                        ...                       ...
5724                 Not Asked                 Not Asked
5725                 Not Asked                 Not Asked
5726                 Not Asked                 Not Asked
5727                 Not Asked                 Not Asked
5728                 Not Asked                 Not Asked

      PopulationOfLargestCityWithin20Miles           EmploymentSector  \
0                     20K-99K (large town)           Private business
1                         1M+ (metropolis)           Private business
2                         1M+ (metropolis)           Private business
3                         1M+ (metropolis)           Private business
4                         100K-299K (city)                 Non-profit
...                                    ...                        ...
5724                             Not Asked           Private business
5725                             Not Asked           Private business
5726                             Not Asked           Private business
5727                             Not Asked  State/province government
5728                             Not Asked           Private business

                        LookingForAnotherJob  \
0                                  Not Asked
1                                  Not Asked
2                                  Not Asked
3                                  Not Asked
4                                  Not Asked
...                                      ...
5724                                      No
5725                                      No
5726                                      No
5727  Yes, but only passively (just curious)
5728                                      No

                                 CareerPlansThisYear  Gender  \
0             Stay with the same employer, same role    Male
1                                  Prefer not to say    Male
2             Stay with the same employer, same role    Male
3                    Change both employers and roles    Male
4             Stay with the same employer, same role    Male
...                                              ...     ...
5724  Stay with the same employer,  but change roles    Male
5725          Stay with the same employer, same role    Male
5726          Stay with the same employer, same role    Male
5727                               Prefer not to say    Male
5728          Stay with the same employer, same role    Male

                                         OtherJobDuties  \
0                                             Not Asked
1                                             Not Asked
2                                             Not Asked
3                                             Not Asked
4                                             Not Asked
...                                                 ...
5724                                               None
5725                                   Developer: T-SQL
5726  Architect, DBA (Development Focus - tunes quer...
5727  DBA (General - splits time evenly between writ...
5728  DBA (Development Focus - tunes queries, indexe...

                                  KindsOfTasksPerformed Counter
0                                             Not Asked       1
1                                             Not Asked       1
2                                             Not Asked       1
3                                             Not Asked       1
4                                             Not Asked       1
...                                                 ...     ...
5724           Meetings & management, Training/teaching       1
5725  Build scripts & automation tools, Manual tasks...       1
5726  Build scripts & automation tools, Manual tasks...       1
5727     Build scripts & automation tools, Manual tasks       1
5728  Build scripts & automation tools, Manual tasks...       1

[5624 rows x 32 columns]

In [9]:
print(data2.dtypes)

index                                     int64
SalaryUSD                               float64
Country                                  object
PostalCode                               object
EmploymentStatus                         object
JobTitle                                 object
ManageStaff                              object
YearsWithThisTypeOfJob                    int64
HowManyCompanies                         object
OtherPeopleOnYourTeam                    object
CompanyEmployeesOverall                  object
PopulationOfLargestCityWithin20Miles     object
EmploymentSector                         object
LookingForAnotherJob                     object
CareerPlansThisYear                      object
Gender                                   object
OtherJobDuties                           object
dtype: object

Aucune de mes colonnes ne correspond à une date, je n'ai donc pas à faire de traitement

##3. Traitement des doublons

In [10]:

print(data2.duplicated().value_counts())

False    5680
dtype: int64

Aucune des colonnes de ma base n'est dupliquée, je vérifie cependant que c'est également le cas sur la colonne index

In [11]:

print(data2.duplicated('index').value_counts())

False    5680
dtype: int64

On est bon.

to be continued
Avant de partir je sauvegarde mon travail dans my sql

In [12]:
save_to_mysql(db_connect=connect,df_to_save=data2,df_name='Salary_01_v1.0')

#J'éffectue la même chose pour la 2eme tables

In [ ]:
print(data.head())
print(data.columns)

In [72]:
data = data[['index', 'Job Title', 'Salary Estimate',
       'Job Description', 'Company Name', 'Location','Headquarters',
       'Size', 'Type of ownership', 'Industry', 'Sector', 'Revenue']]

les colonnes que je vais garder pour mon étude.

In [73]:
print(data.isnull().sum()) 
print(data.shape)

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Company Name         1
Location             0
Headquarters         0
Size                 0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
dtype: int64
(2253, 12)

La data est plutot clean une seul erreur je ne toucherai donc pas

In [74]:
print(data.dtypes)

index                 int64
Job Title            object
Salary Estimate      object
Job Description      object
Company Name         object
Location             object
Headquarters         object
Size                 object
Type of ownership    object
Industry             object
Sector               object
Revenue              object
dtype: object

In [75]:
print(data.duplicated().value_counts())

False    2253
dtype: int64

In [13]:
print(data.duplicated('index').value_counts())

False    2253
dtype: int64

In [13]:
save_to_mysql(db_connect=connect,df_to_save=data,df_name='Analyst_01_v1.0')

Je sauvegarde mon travail