In [6]:
import pandas as pd
import sqlalchemy
import mysql.connector

#Pour que python reconnaisse un dossier comme un module il faut ajouter en son sein un fichier __init__.py 
#et également l'ajouter au PATH

import sys  

sys.path.insert(0, "/home/apprenant/Desktop/AmericanDream/")


#On peut ensuite importer le dossier comme un module

from src.d00_utils.mysql_utils import mysql_connect, save_to_mysql
connect = mysql_connect()

Importation des données depuis my sql

##1. Selection des colonnes
J'affiche un échantillno de mes données pour analyser la pertinence des différentes colonnes

In [70]:
data = pd.read_sql("Analyst",con=connect)
data2 = pd.read_sql("Salary",con=connect)

In [69]:
print(data2.head())
print(data2.columns)

   index  Survey Year           Timestamp  SalaryUSD        Country  \
0      0         2020 2020-01-04 18:50:34   115000.0  United States
1      1         2020 2020-01-04 10:43:02   100000.0  United States
2      2         2020 2020-01-04 09:51:46   100000.0          Spain
3      3         2020 2020-01-04 01:08:54    70000.0  United States
4      4         2020 2020-01-03 15:28:54   110000.0  United States

  PostalCode       PrimaryDatabase  YearsWithThisDatabase  \
0         03  Microsoft SQL Server                     15
1       None                 Other                      6
2      28046  Microsoft SQL Server                      2
3      94133  Microsoft SQL Server                      3
4      95354                Oracle                     30

                                      OtherDatabases    EmploymentStatus  ...  \
0  Microsoft SQL Server, MongoDB, Azure SQL DB (a...  Full time employee  ...
1                                      MySQL/MariaDB  Full time employee  ...
2                                      MySQL/MariaDB  Full time employee  ...
3                                   Microsoft Access  Full time employee  ...
4  Microsoft SQL Server, Oracle, MySQL/MariaDB, P...  Full time employee  ...

  NewestVersionInProduction OldestVersionInProduction  \
0           SQL Server 2019           SQL Server 2016
1                  informix                  informix
2           SQL Server 2017           SQL Server 2017
3           SQL Server 2016           SQL Server 2012
4           SQL Server 2016         SQL Server 2008R2

   PopulationOfLargestCityWithin20Miles  EmploymentSector  \
0                  20K-99K (large town)  Private business
1                      1M+ (metropolis)  Private business
2                      1M+ (metropolis)  Private business
3                      1M+ (metropolis)  Private business
4                      100K-299K (city)        Non-profit

  LookingForAnotherJob                     CareerPlansThisYear  Gender  \
0            Not Asked  Stay with the same employer, same role    Male
1            Not Asked                       Prefer not to say    Male
2            Not Asked  Stay with the same employer, same role    Male
3            Not Asked         Change both employers and roles    Male
4            Not Asked  Stay with the same employer, same role    Male

  OtherJobDuties KindsOfTasksPerformed Counter
0      Not Asked             Not Asked       1
1      Not Asked             Not Asked       1
2      Not Asked             Not Asked       1
3      Not Asked             Not Asked       1
4      Not Asked             Not Asked       1

[5 rows x 32 columns]
Index(['index', 'Survey Year', 'Timestamp', 'SalaryUSD', 'Country',
       'PostalCode', 'PrimaryDatabase', 'YearsWithThisDatabase',
       'OtherDatabases', 'EmploymentStatus', 'JobTitle', 'ManageStaff',
       'YearsWithThisTypeOfJob', 'HowManyCompanies', 'OtherPeopleOnYourTeam',
       'CompanyEmployeesOverall', 'DatabaseServers', 'Education',
       'EducationIsComputerRelated', 'Certifications', 'HoursWorkedPerWeek',
       'TelecommuteDaysPerWeek', 'NewestVersionInProduction',
       'OldestVersionInProduction', 'PopulationOfLargestCityWithin20Miles',
       'EmploymentSector', 'LookingForAnotherJob', 'CareerPlansThisYear',
       'Gender', 'OtherJobDuties', 'KindsOfTasksPerformed', 'Counter'],
      dtype='object')

In [53]:
data2 = data2[['index','SalaryUSD','Country','PostalCode','EmploymentStatus','JobTitle','ManageStaff','YearsWithThisTypeOfJob',
          'HowManyCompanies','OtherPeopleOnYourTeam', 'CompanyEmployeesOverall',
          'PopulationOfLargestCityWithin20Miles','EmploymentSector', 'LookingForAnotherJob', 'CareerPlansThisYear',
          'Gender', 'OtherJobDuties']]

Je fais la même chose pour la seconde table

##2. Valeurs manquantes
Recherche des valeurs manquantes

In [18]:
print(data2.isnull().sum()) 
print(data2.shape)

index                                      0
SalaryUSD                                  0
Country                                    0
PostalCode                              1390
EmploymentStatus                           0
JobTitle                                   0
ManageStaff                                0
YearsWithThisTypeOfJob                     0
HowManyCompanies                           0
OtherPeopleOnYourTeam                      0
CompanyEmployeesOverall                    0
PopulationOfLargestCityWithin20Miles       0
EmploymentSector                           0
LookingForAnotherJob                       0
CareerPlansThisYear                        0
Gender                                     0
OtherJobDuties                           620
dtype: int64
(8627, 17)


Il me manque 1390 valeurs pour PostalCode et 620 pour OtherJobDUties sur un total de 8627 lignes. Ces deux colonnes ne sont pas au centre de mon études donc ça se vaut pas le cout de supprimer toute la ligne pour elles

traitement de Postal code
Cela ne ferait pas de sens de remplacer le code postal par un code postal arbitraire

Traitement de OtherJobDuties

In [22]:
print(data2.dtypes)

index                                     int64
SalaryUSD                               float64
Country                                  object
PostalCode                               object
EmploymentStatus                         object
JobTitle                                 object
ManageStaff                              object
YearsWithThisTypeOfJob                    int64
HowManyCompanies                         object
OtherPeopleOnYourTeam                    object
CompanyEmployeesOverall                  object
PopulationOfLargestCityWithin20Miles     object
EmploymentSector                         object
LookingForAnotherJob                     object
CareerPlansThisYear                      object
Gender                                   object
OtherJobDuties                           object
dtype: object

Aucune de mes colonnes ne correspond à une date, je n'ai donc pas à faire de traitement

##4. Traitement des doublons

In [24]:

print(data2.duplicated().value_counts())

False    8627
dtype: int64

Aucune des colonnes de ma base n'est dupliquée, je vérifie cependant que c'est également le cas sur la colonne index

In [25]:

print(data2.duplicated('index').value_counts())

False    8627
dtype: int64

On est bon.

to be continued
Avant de partir je sauvegarde mon travail dans my sql

In [33]:
save_to_mysql(db_connect=connect,df_to_save=data2,df_name='Salary_01_v1.0')

In [71]:
print(data.head())
print(data.columns)

   index  Unnamed: 0                                          Job Title  \
0      0           0  Data Analyst, Center on Immigration and Justic...
1      1           1                               Quality Data Analyst
2      2           2  Senior Data Analyst, Insights & Analytics Team...
3      3           3                                       Data Analyst
4      4           4                             Reporting Data Analyst

              Salary Estimate  \
0  $37K-$66K (Glassdoor est.)
1  $37K-$66K (Glassdoor est.)
2  $37K-$66K (Glassdoor est.)
3  $37K-$66K (Glassdoor est.)
4  $37K-$66K (Glassdoor est.)

                                     Job Description  Rating  \
0  Are you eager to roll up your sleeves and harn...     3.2
1  Overview\n\nProvides analytical and technical ...     3.8
2  We’re looking for a Senior Data Analyst who ha...     3.4
3  Requisition NumberRR-0001939\nRemote:Yes\nWe c...     4.1
4  ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...     3.9

                              Company Name      Location  Headquarters  \
0           Vera Institute of Justice\n3.2  New York, NY  New York, NY
1  Visiting Nurse Service of New York\n3.8  New York, NY  New York, NY
2                         Squarespace\n3.4  New York, NY  New York, NY
3                            Celerity\n4.1  New York, NY    McLean, VA
4                             FanDuel\n3.9  New York, NY  New York, NY

                     Size  Founded               Type of ownership  \
0    201 to 500 employees     1961          Nonprofit Organization
1        10000+ employees     1893          Nonprofit Organization
2  1001 to 5000 employees     2003               Company - Private
3    201 to 500 employees     2002  Subsidiary or Business Segment
4   501 to 1000 employees     2009               Company - Private

                           Industry                            Sector  \
0                 Social Assistance                        Non-Profit
1  Health Care Services & Hospitals                       Health Care
2                          Internet            Information Technology
3                       IT Services            Information Technology
4               Sports & Recreation  Arts, Entertainment & Recreation

                      Revenue Competitors Easy Apply
0  $100 to $500 million (USD)          -1       True
1      $2 to $5 billion (USD)          -1         -1
2    Unknown / Non-Applicable     GoDaddy         -1
3   $50 to $100 million (USD)          -1         -1
4  $100 to $500 million (USD)  DraftKings       True
Index(['index', 'Unnamed: 0', 'Job Title', 'Salary Estimate',
       'Job Description', 'Rating', 'Company Name', 'Location', 'Headquarters',
       'Size', 'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'Competitors', 'Easy Apply'],
      dtype='object')

In [72]:
data = data[['index', 'Job Title', 'Salary Estimate',
       'Job Description', 'Company Name', 'Location','Headquarters',
       'Size', 'Type of ownership', 'Industry', 'Sector', 'Revenue']]

In [73]:
print(data.isnull().sum()) 
print(data.shape)

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Company Name         1
Location             0
Headquarters         0
Size                 0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
dtype: int64
(2253, 12)

La data est plutot clean une seul erreur je ne toucherai donc pas

In [74]:
print(data.dtypes)

index                 int64
Job Title            object
Salary Estimate      object
Job Description      object
Company Name         object
Location             object
Headquarters         object
Size                 object
Type of ownership    object
Industry             object
Sector               object
Revenue              object
dtype: object

In [75]:
print(data.duplicated().value_counts())

False    2253
dtype: int64

In [76]:
print(data.duplicated('index').value_counts())

False    2253
dtype: int64

In [77]:
save_to_mysql(db_connect=connect,df_to_save=data,df_name='Analyst_01_v1.0')